/* App.css */
nav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
  width: calc(100% - 40px);
  align-items: center;
}

nav a {
  border: 2px solid var(--button-bg-col);
  flex: 0 0 14.5%;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  color: var(--text-col);
  box-shadow: 
      0 0 10px .25em var(--button-bg-dark-col);
  background-color: var(--bg-col);
  margin: 5px;
  transition: 0.3s;
  user-select: none;
}

nav img{
    flex: 0 0 auto;
    height: 50px;
    animation-name: logoSpin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.active-link{
    border: 2px solid var(--button-bg-col);
    background-color: var(--button-bg-col);
    box-shadow: 
        /* .2em .2em 10px .1em var(--button-bg-light-col), */
       0 0 10px .25em var(--button-bg-light-col);
    color: var(--lighter-text-col);
    font-weight: bold;
    letter-spacing: 2px;
}
/* 
@keyframes logoSpin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
} */