/* App.css */
nav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
  width: fit-content;
  align-items: center;
}

nav a {
  border: 2px solid #9a39a7;
  flex: 0 0 200px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #9a39a7;
  background-color: #2e2e2e;
  margin: 5px;
  transition: 0.3s;
}

nav img{
    flex: 0 0 auto;
    height: 50px;
    animation-name: logoSpin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.active-link{
    border: 2px solid #9a39a7;
    background-color: #9a39a7;
    color: #2e2e2e;
    font-weight: bold;
}

@keyframes logoSpin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}