/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #3f3f3f;
}

#root {
  min-height: 100vh;       
  background-color: #3f3f3f;
  color: #9a39a7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}